body {
    margin: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}

#Sliding_Window {
    overflow: hidden;
    background-image: url(resources/bg_img1.jpg);
    background-size: cover;
    margin: 0;
    transition: 0.8s;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
}

#Main_Screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

#for_scroll {
    margin: 70%;
}
