body {
    margin: 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}

#Sliding_Window {
    overflow: hidden;
    background-image: url(resources/bg_img1.gif);
    background-size: cover;
    margin: 0;
    transition: 0.8s;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
}

#Main_Screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(198, 255, 198);
    background-image: url(resources/bg_img2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Main_card {
    border: 1px solid;
    background-color: rgba(35, 255, 182, 0.466);
    height: 500px;
    width: 500px;
}

#for_scroll {
    margin: 70%;
}

nav {
    position: sticky;
    top: 0;
    padding: 5px 20px;
    background-color: #9c9c9c80;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav_button {
    font-size: 25px;
    margin-right: 20px;
    padding: 5px 40px;
    border: 1px solid;
}
#logo_name {
    font-size: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
}
nav img {
    margin-right: 10px;
    border-radius: 100px;
    height: 70px;
    width: 65px;
}
nav > ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
}
nav > ul > li {
    font-size:25px;
    padding: 0 20px;
    margin: 20px;
}

#hero {
    display: flex;
    padding: 3% 10% 0 10%;
    background-color: rgb(192, 179, 179);
}
#hero div {
    margin: 120px 40px;
    width: 75%;
}
#hero div h1{
    margin: 0;
    padding: 20px 30px;
    font-size: 100px;
}
#hero div p {
    margin: 0 60px;
    padding: 5px 30px;
    font-size: 30px;
}
#hero img {
    left: 65%;
    width: 54vh;
}